.content-about-me {
    /* Gradiente de fondo del diseño */
    background: linear-gradient(to bottom right, var(--purple-medium-dark), var(--purple-light));
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.content-about-me h2 {
    font-family: var(--font-family-title);
    font-size: var(--font-size-h2);
    color: var(--text-color);
    margin-bottom: var(--spacing-xs);
    margin-top: var(--spacing-xl);
}

.about-me-content {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: var(--spacing-lg);
    max-width: 1000px;
    width: 100%;
    padding: var(--padding-container-md);
}

.about-me-content > div {
    background: linear-gradient(135deg, var(--glass-background), var(--glass-background-light));
    padding: var(--padding-container-md);
    border-radius: var(--border-radius-lg);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* box-shadow: 0px 4px 6px 0px rgba(55, 0, 70, 0.795); */
    position: relative;
    overflow: hidden;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
     /* Sombra sutil para darle profundidad y que flote */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.about-me-content > div::before {
    content: '';
    position: absolute;
    top: -50px;
    left: -50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    mix-blend-mode: overlay;
    filter: blur(40px);
    animation: float 10s ease-in-out infinite;
}

.about-me-content > div::after {
    content: '';
    position: absolute;
    bottom: -50px;
    right: -50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    mix-blend-mode: overlay;
    filter: blur(10px);
    animation: float 12s ease-in-out infinite reverse;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0) translateX(0);
    }
    50% {
        transform: translateY(-20px) translateX(20px);
    }
}

.about-me-content h3 {
    font-family: var(--font-family-title);
    font-size: var(--font-size-h3);
    color: var(--text-color-light);
    margin-bottom: var(--spacing-md);
}

.about-me-photo {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    width: 100%;
    height: auto;
    border-radius: var(--border-radius-md);
    object-fit: cover;
}

.about-me-description {
    grid-column: 3 / 8;
    grid-row: 1 / 2;
    font-size: var(--font-size-small);
}

.about-me-education {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.about-me-experience {
    grid-column: 4 / 7;
     grid-row: 2 / 3;
}

.about-me-skills {
    grid-column: 7 / 8;
    min-width: 160px;
}

.about-me-description p:not(:last-child),
.about-me-education p:not(:last-child),
.about-me-experience p:not(:last-child) {
    margin-bottom: var(--spacing-md);
    line-height: 1.5;
    color: var(--text-color-light);
    font-size: var(--font-size-small);
}

.about-me-education p span,
.about-me-experience p span {
    display: block;
    font-weight: 500;
    margin-top: var(--spacing-xxs);
    color: var(--text-color-subs);
}

.about-me-skills ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-xs);
    justify-content: center;
}

.about-me-skills li {
    list-style: none;
}

.about-me-skills-icons{
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-xs);
    margin-top: var(--spacing-xs);
    text-align: center;
    justify-content: center;
}

.about-me-skills img {
    width: 40px;
    height: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-me-photo img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius-md);
    background-attachment: fixed;
}

@media (max-width: 768px) {
    .about-me-content {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto auto;
    }

    .about-me-photo {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .about-me-description {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
    .about-me-education {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }
    .about-me-experience {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }
    .about-me-skills {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
}

