.menu-section {
    background: linear-gradient(135deg, rgba(149, 19, 175, 0.5), rgba(80, 28, 87, 0.5));
    position: fixed;
    top: var(--spacing-md) ;
    left: var(--spacing-md);
    padding: var(--padding-container-sm);
    border-radius: var(--border-radius-sm);
    z-index: 1;
}

.menu-section ul {
    list-style: none;
}

.menu-section ul li {
    display: flex; 
    align-items: center; 
    gap: 8px;
    padding: var(--spacing-xxs);
    padding-right: var(--spacing-lg);
    position: relative;
}

.menu-section ul li::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) scaleY(0); /* Escondido por defecto */
    width: 4px;
    height: 80%;
    background: var(--purple-light);
    border-radius: 2px;
    transition: transform 0.3s ease; /* Transición suave en lugar de keyframes */
    transform-origin: center;
}

.menu-section ul li.active::after,
.menu-section ul li:hover::after {
    transform: translateY(-50%) scaleY(1);
}

.menu-section ul li.active a {
    color: var(--purple-light);
}

@keyframes bar-expand {
    from {
        transform: translateY(-50%) scaleY(0);
    }
    to {
        transform: translateY(-50%) scaleY(1);
    }
}

.menu-section a {
    color: var(--text-color);
    text-decoration: none;
    display: flex; 
    align-items: center; 
    gap: 8px;
    transition: color 0.3s ease;
}

.menu-section a:hover {
    color: var(--purple-light);
}

@media (max-width: 992px) {
    .menu-section {
        left: 0;
        right: 0;
        margin: 0 var(--spacing-lg);
        width: calc(100% - var(--spacing-lg) * 2);
    }
    
    .menu-section ul {
        display: flex;
        flex: 1 0 0px;
        flex-direction: row;
        gap: unset;
        justify-content: space-between;
    }
    .menu-section ul li.active::after,
    .menu-section ul li:hover::after {
        display: none; /* Evitamos que la línea vertical rompa el diseño horizontal */
    }
}

@media (max-width: 768px) {
    .showLabel {
        display: none;
    }
}