.menu-section {
    background: linear-gradient(135deg, rgba(176, 22, 207, 0.1), rgba(130, 47, 141, 0.2));
    position: fixed;
    top: var(--spacing-md) ;
    left: var(--spacing-md);
    padding: var(--padding-container-sm);
    border-radius: var(--border-radius-sm);
}

.menu-section ul {
    list-style: none;
}

.menu-section ul li {
    display: flex; 
    align-items: center; 
    gap: 8px;
    padding: var(--spacing-xxs);
    padding-right: var(--spacing-lg);
}

.menu-section ul li:hover {
    position: relative;
}

.menu-section ul li:hover::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) scaleY(0);
    width: 4px;
    height: 80%;
    background: var(--purple-light);
    border-radius: 2px;
    animation: bar-expand 0.3s forwards;
}

@keyframes bar-expand {
    from {
        transform: translateY(-50%) scaleY(0);
    }
    to {
        transform: translateY(-50%) scaleY(1);
    }
}

.menu-section a {
    color: var(--text-color);
    text-decoration: none;
    display: flex; 
    align-items: center; 
    gap: 8px;
    transition: color 0.3s ease;
}

.menu-section a:hover {
    color: var(--purple-light);
}

@media (max-width: 768px) {
    .menu-section {
        top: var(--spacing-xs);
        left: var(--spacing-xs);
        padding: var(--spacing-xs);
        font-size: var(--font-size-small);
    }
}