.content-section {
    /* Gradiente de fondo del diseño */
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.bg-color-dark {
    background: var(--purple-dark);
}

.bg-color-medium-dark {
    background: var(--purple-medium-dark);
}

.content-section h2 {
    font-family: var(--font-family-title);
    font-size: var(--font-size-h2);
    color: var(--text-color);
    margin-bottom: var(--spacing-xs);
    margin-top: var(--spacing-xl);
}

.projects-container {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 10px;
    gap: var(--spacing-xs);*/
    margin-top: var(--spacing-md); 
    column-count: 4;
    column-gap: var(--spacing-md);
    row-gap: var(--spacing-md);
    max-width: 1000px; /* Ancho máximo para evitar que se extienda demasiado en pantallas grandes */
    width: 100%;
    padding: var(--padding-container-md);
}

.projects-container img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius-md);
    object-fit: cover; 
    /* grid-row-end: span 20;  */
    break-inside: avoid-column;
    margin-bottom: var(--spacing-xs);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para dar profundidad */
    transition: transform 0.3s ease; /* Transición suave para el efecto hover */
}

.projects-container img:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el cursor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al hacer hover */
    cursor: pointer; /* Cambia el cursor para indicar que es interactivo */
}

.autoShow {
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 25% cover 100vh;
}

@keyframes text-appear {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.imageReveal {
    animation: imageReveal both;
    animation-timeline: view(80% 10%);
}

@keyframes imageReveal {
    from {
        filter: saturate(0) contrast(4) brightness(.1) blur(2px);
        opacity: 0;
        scale: .95;
        translate: 0 2rem;
    }
    to {
        filter: none;
        opacity: 1;
        scale: 1;
        translate: 0 0;
    }
}

@media (max-width: 768px) {
    .projects-container {
        column-count: 2; /* Dos columnas en pantallas medianas */
        column-gap: var(--spacing-xs);
        row-gap: var(--spacing-xs);
        
    }
}
/*
@media (max-width: 480px) {
    .projects-container {
        column-count: 1;  // Una columna en pantallas pequeñas 
    }
}
*/