.content-section {
    /* Gradiente de fondo del dise침o */
    background: var(--purple-dark);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.content-section h2 {
    font-family: var(--font-family-title);
    font-size: var(--font-size-h2);
    color: var(--text-color);
    margin-bottom: var(--spacing-xs);
    margin-top: var(--spacing-xl);
}

.projects-container {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 10px;
    gap: var(--spacing-xs);*/
    margin-top: var(--spacing-md); 
    column-count: 4;
    column-gap: var(--spacing-md);
    row-gap: var(--spacing-md);
    max-width: 1000px; /* Ancho m치ximo para evitar que se extienda demasiado en pantallas grandes */
    width: 100%;
    padding: var(--padding-container-md);
}

.projects-container img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius-md);
    object-fit: cover; 
    /* grid-row-end: span 20;  */
    break-inside: avoid-column;
    margin-bottom: var(--spacing-xs);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para dar profundidad */
    transition: transform 0.3s ease; /* Transici칩n suave para el efecto hover */
}

@media (max-width: 768px) {
    .projects-container {
        column-count: 2; /* Dos columnas en pantallas medianas */
    }
}

@media (max-width: 480px) {
    .projects-container {
        column-count: 1; /* Una columna en pantallas peque침as */
    }
}