.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: var(--purple-medium-dark);
    padding: 20px;
    border-radius: 8px;
    max-width: 1500px;
    max-height: 600px;
    width: 80%;
    height: 90%;
    position: relative;
    overflow-y: auto;
}

/*.modal-overlay h2, .modal-overlay p {
  margin-top: 0;
  color: var(--text-color-dark);
} */

.modal-close-btn {
    position: absolute;
    top: 6px;
    right: 16px;
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: var(--purple-light);
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--spacing-lg);
}

.content-project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--spacing-lg);
    width: 100%;
}

.description {
    flex: 1;
    padding-top: var(--spacing-md);
}

.modal-image {
    max-width: 100%;
    max-height: 400px;
    border-radius: var(--border-radius-md);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: var(--spacing-sm);
}

/* Contenedor de la galería */
.gallery {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
    gap: var(--spacing-xs); /* Unificamos el espacio entre columnas y filas con la propiedad 'gap' */
    margin: var(--spacing-xs) auto; /* Centra el contenedor y agrega un margen superior e inferior */
    max-width: 1000px; /* Limita el ancho de la galería */
}

/* Imágenes dentro de la galería */
.gallery img {
    flex: 1 1 200px; /* Permite que las imágenes crezcan, se reduzcan y tengan un tamaño base de 200px */
    height: auto;
    object-fit: cover;
    border-radius: var(--border-radius-md);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

/* Efecto al pasar el cursor (hover) */
.gallery img:hover {
    cursor: pointer;
    transform: scale(1.03); /* Agrandamos la imagen ligeramente para dar un efecto interactivo */
}